@model ReceiptsViewModel
<form class="container d-flex justify-content-center" asp-controller="Receipt" asp-action="List">
    @foreach (var methods in Model.PaymentMethodsCheckbox.PaymentMethodsChecked)
    {
        <input name="paymentMethods" value="@methods.ToLower()" formmethod="post" class="d-none" />
    }
    <input name="minValue" value="@Model.MinValueSlider.SliderPosition" formmethod="post" class="d-none" />
    <input name="maxValue" value="@Model.MaxValueSlider.SliderPosition" formmethod="post" class="d-none" />
    <input name="year" value="@Model.YearRadio.CurrentlyActive" formmethod="post" class="d-none" />
    <input name="month" value="@Model.MonthRadio.CurrentlyActive" formmethod="post" class="d-none" />
    <nav aria-label="Page navigation">
        <ul class="pagination">

            @for (int i = Math.Max(1, Model.CurrentPage - 4); i < Math.Min(Model.ListReceipts.TotalPages + 1, Model.CurrentPage + 4); i++)
            {
                <li class="page-item @(Model.CurrentPage.Equals(i)? "active": "")"><button class="page-link" asp-route-page="@i" type="submit">@i</button></li>

            }
        </ul>
    </nav>
</form>