@model ReceiptsViewModel

    <div class="text-center">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white font-weight-bolder">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">@ViewData["ComingFrom1"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
        
        <div class="container">
            <div class="accordion" id="accordionFiltri">
                <div class="card mb-4 bg-white border-0 shadow">
                    <div class="card-header bg-white border-0 d-flex align-items-center">
                        <img src="~/media/sliders-h-solid.svg" alt="recent" height="20" class="pr-3" />
                        <span>Ricerca e Filtri</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="input-group col-md-6 col-8" asp-controller="Search" asp-action="Index">
                                <input class="form-control" type="search" placeholder="Cerca" aria-label="Search" name="query" formmethod="get">
                                <div class="input-group-append">
                                    <button class="btn btn-primary d-flex align-items-center" type="submit">
                                        <img src="~/media/search-solid-white.svg" alt="search" height="15" />
                                    </button>
                                </div>
                            </form>
                            <div class="col-md-6 col-4 d-flex justify-content-end">
                                <button class="btn btn-light d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapseFiltri" aria-expanded="true" aria-controls="collapseFiltri">
                                    <img class="pr-2" src="~/media/filter-solid.svg" alt="filter" height="15" />
                                    Filtri
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="collapseFiltri" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFiltri">
                        <form class="card-body" asp-controller="Receipt" asp-action="List">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 text-left mb-4">
                                    <h6>Metodo di Pagamento</h6>
                                    <input type="checkbox" class="d-none" id="empty" name="paymentMethods" value="empty" checked formmethod="post">
                                    @foreach (string paymentMethod in Model.FilterPaymentMethods)
                                    {
                                        <div class="custom-control custom-switch d-flex justify-content-start">
                                            <input type="checkbox" class="custom-control-input" id="@paymentMethod.ToLower()" name="paymentMethods" value="@paymentMethod.ToLower()" checked formmethod="post">
                                            <label class="custom-control-label" for="@paymentMethod.ToLower()">@paymentMethod</label>
                                        </div>
                                    }
                                </div>
                                <div class="col-lg-5 col-md-8 text-left mb-4">
                                    <h6>Soldi Spesi</h6>
                                    <div class="mb-2 d-flex flex-column">
                                        <small class="font-weight-bold mb-2">Spesa Minima</small>
                                        <div class="d-flex justify-content-between">
                                            <small class="badge badge-light">@Model.MinValueSlider.SliderMinValue</small>
                                            <small class="badge badge-light">@Model.MinValueSlider.SliderMaxValue</small>
                                        </div>
                                        <input type="range" class="custom-range mb-2" min="0" max="5" value="@Model.MinValueSlider.SliderPosition" name="minValue" formmethod="post">
                                    </div>
                                    <div class="mb-2 d-flex flex-column">
                                        <small class="font-weight-bold mb-2">Spesa Massima</small>
                                        <div class="d-flex justify-content-between">
                                            <small class="badge badge-primary">MIN</small>
                                            <small class="badge badge-light">@Model.MinValueSlider.SliderMaxValue</small>
                                        </div>
                                        <input type="range" class="custom-range" min="0" max="5" value="@Model.MaxValueSlider.SliderPosition" name="maxValue" formmethod="post">
                                        <small class="text-muted">L'indicatore <spam class="badge badge-primary">MIN</spam> corssisponde al valore indicato nella <strong>spesa massima</strong>.</small>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-left mb-4">
                                    <h6>Anno e mese</h6>
                                    <div class="mb-2">
                                        <small class="font-weight-bold">Anno</small>
                                        <div class="btn-group-toggle d-flex flex-wrap" data-toggle="buttons">
                                            <small class="m-1 btn btn-outline-primary btn-sm active">
                                                <input type="radio" name="year" formmethod="post" value="-1" checked> Tutti
                                            </small>
                                            @foreach (int year in Model.FilterYearsStored)
                                            {
                                                <small class="m-1 btn btn-outline-primary btn-sm">
                                                    <input type="radio" name="year" formmethod="post" value="@year"> @year
                                                </small>
                                            }
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <small class="font-weight-bold">Mese</small>
                                        <div class="btn-group-toggle d-flex flex-wrap" data-toggle="buttons">
                                            <small class="m-1 btn btn-outline-primary btn-sm active">
                                                <input type="radio" name="month" formmethod="post" value="-1" checked> Tutti
                                            </small>
                                            @for (int i = 1; i < 13; i++)
                                            {
                                                <small class="m-1 btn btn-outline-primary btn-sm ">
                                                    <input type="radio" value="@i" name="month"> @DateTimeFormatInfo.CurrentInfo.GetMonthName(i).First().ToString().ToUpper()@DateTimeFormatInfo.CurrentInfo.GetMonthName(i).Substring(1)
                                                </small>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary d-flex align-items-center">
                                    <img class="pr-2" src="~/media/save-solid-white.svg" alt="save" height="15" />
                                    Salva Filtri
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (Model.Receipts == null)
            {
                <div class="container">
                    <div class="p-4 container-fluid d-flex justify-content-center align-items-center">
                        <img src="~/media/sad-tear-solid-50.svg" alt="empty" class="pr-4" height="45" />
                        <h2 class="text-black-50">Nessun risultato</h2>
                    </div>
                </div>
            }
            else
            {
            <div class="row">
                @foreach (ReceiptViewModel receipt in Model.Receipts)
                {
                    <div class="col-md-4">
                        <div class="card bg-white border-0 text-left bg-white mb-4 shadow">
                            <div class="card-header bg-white card-header box-shadow">
                                <span class="d-flex align-items-center">
                                    <img class="pr-3" src="~/media/@receipt.TransactionMethod.ImagePath" height="20" />
                                    @receipt.TransactionMethod.PaymentMethod
                                </span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@receipt.Price.ToString()</h5>
                                <button class="p-2 d-flex align-items-center btn btn-light">
                                    <img class="pr-2" src="~/media/map-marker-alt-solid.svg" alt="Map Location" width="20" />
                                    @receipt.Location
                                </button>
                                <div class="container mb-4 text-secondary">
                                    <dv class="row font-weight-bolder d-flex justify-content-end border-bottom border-secondary">EUR</dv>
                                    @foreach (var item in (@receipt.StoreItems.Count() > 4 ? receipt.StoreItems.GetRange(0, 4) : receipt.StoreItems))
                                    {
                                        <div class="row d-flex justify-content-between border-bottom">
                                            <p class="p-0 mb-0 col-7 text-left">@item.Name</p>
                                            <p class="p-0 mb-0 col-5 text-right">@item.ToString()</p>
                                        </div>
                                    }
                                    @if (@receipt.StoreItems.Count() > 4)
                                    {
                                        <div class="row d-flex justify-content-center">
                                            <p class="mb-0 font-weight-bolder">...</p>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <small class="mb-0 font-weight-bolder">@receipt.StoreItems.Count() elementi totali</small>
                                        </div>
                                    }

                                </div>

                                <div class="d-flex flex-wrap">
                                    <div class="pr-2 pb-2">
                                        <a asp-route-id="@receipt.Id" asp-controller="Receipt" asp-action="Detail" class="btn btn-primary">
                                            <img src="~/media/info-circle-solid-white.svg" alt="dettaglio" width="20" height="20" />
                                        </a>
                                    </div>
                                    <div class="pr-2 pb-2">
                                        <a href="#" class="btn btn-warning">
                                            <img src="~/media/edit-solid-white.svg" alt="dettaglio" width="20" height="20" />
                                        </a>
                                    </div>
                                    <div class="pr-2 pb-2">
                                        <a href="#" class="btn btn-danger">
                                            <img src="~/media/trash-solid-white.svg" alt="dettaglio" width="20" height="20" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-0 bg-white d-flex justify-content-between">
                                <small>@receipt.DateTime.ToString("dd-MM-yyyy")</small>
                                <small>@receipt.DateTime.ToString("HH:mm")</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="container d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item @(Model.CurrentPage.Equals(1)? "active": "")"><a class="page-link" asp-route-page="1">1</a></li>
                        <li class="page-item @(Model.CurrentPage.Equals(2)? "active": "")"><a class="page-link" asp-route-page="2">2</a></li>
                        <li class="page-item @(Model.CurrentPage.Equals(3)? "active": "")"><a class="page-link" asp-route-page="3">3</a></li>
                    </ul>
                </nav>
            </div>
            }
            
        </div>
    </div>